input[type="checkbox"]:checked ~ .checkbox__class {
    background-image: url("../../assets/images/logo/Coeur.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    animation: like 0.5s linear 1;
    display: flex;
    -webkit-animation: like 0.5s linear 1;
}

.checkbox__class  {
    background-repeat: no-repeat;
    background-image: url("../../assets/images/logo/Like.svg");
    width: 22px;
    height: 22px;
    cursor: pointer;
    display: flex;
    animation: likeReturn 0.5s linear 1;
    -webkit-animation: likeReturn 0.5s linear 1;
}
@keyframes like {
    0% { background-image: url("../../assets/images/logo/Like.svg");}
    100% {background-image: url('../../assets/images/logo/Coeur.png');}
}

@keyframes likeReturn {
    0% {background-image: url("../../assets/images/logo/Coeur.png");}
    100% { background-image: url("../../assets/images/logo/Like.svg");}
}

.checkbox__none {
    display: none;
}