.section__loader {
    pointer-events: none;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    text-align: center;
    line-height: 18;
    font-size: 50px;
    font-family: Shrikhand;
    background:linear-gradient(0deg, rgb(147 86 220 / 71%) 0%, rgb(255 121 218 / 71%) 100%);
    animation: linaer-gradient 2s linear 1;
    -webkit-animation: linaer-gradient 2s linear 1;
}

@keyframes linaer-gradient {
    0%{background: linear-gradient(90deg, rgb(147 86 220 / 71%) 0%, rgb(255 121 218 / 71%) 100%);opacity: 1;}
    100%{background: linear-gradient(270deg, rgb(147 86 220 / 71%) 0%, rgb(255 121 218 / 71%) 100%); opacity: 1;}  
} 

.loader {
    width: 50px;
    height: 39px;
    left: 411px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.loader__bars::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 10px;
    height: 30px;
    border-radius: 100%;
    background: #101010;
    animation: grow 1.5s linear  1;
    -webkit-animation: grow 1.5s linear  1;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}


.loader__bars::after {
    content: '';
    display: block;
    position: absolute;
    left: 15px;
    border-radius: 100%;
    width: 10px;
    height: 30px;
    background: #101010;
    animation: grow 1.5s linear -.5s 5;
    -webkit-animation: grow 1.5s linear -.5s 5;
}

.loader__bars span {
    content: '';
    display: block;
    position: absolute;
    left: 30px;
    border-radius: 100%;
    width: 10px;
    height: 30px;
    background: #101010;
    animation: grow 1.5s linear -1s 5;
    -webkit-animation: grow 1.5s linear -1s 5;
}

@keyframes grow {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }

    50% {
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        transform: scaleY(0);
        opacity: 0;
    }
}

