@import "./utils/variables";
@import "./utils/mixin";

 
// Compenents
@import "./pages/components/loader.scss";
@import "./pages/components/header.scss";
@import "./pages/components/footer.scss";
@import "./pages/components/btn-heart.scss";
@import "./pages/components/btn.scss";

// Restaurants

@import "./pages/restaurants/body__resto.scss";
@import "./pages/restaurants/formulaire_resto.scss";
@import "./pages/restaurants/fonctionement_resto.scss";
@import "./pages/restaurants/main_resto.scss";
@import "./pages/restaurants/section_restaurants_resto.scss";

// Menu

@import "./pages/menu/animation_card.scss";
@import "./pages/menu/main_menu_.scss";
@import "./pages/menu/section_menu_.scss";



* {
    padding: 0;
    margin: 0;
    list-style: none;
    // border: 1px solid red;
    text-decoration: none;
    color: #000;
    font-family: Roboto;
}