
.Entrées {
    animation: shake1  2s 1 2s;
    -webkit-animation: shake1  2s 1 2s;
}
.Plats {
    animation: shake2  4s 1 3s;
    -webkit-animation: shake2  4s 1 2s;
}

.Desserts {
    animation: shake3  6s 1 3s;
    -webkit-animation: shake3  6s 1 2s;
}

@keyframes shake1 {
    0% {transform: translate(-200px,2px);}
}
@keyframes shake2 {
    0% {transform: translate(-200px,2px);}
}
@keyframes shake3 {
    0% {transform: translate(-200px,2px);}
}