// main 
.main__menu {
    display: flex;
    justify-content: center;
    background: $second-background;
    min-height: 1392px;
}

.main__img__menu {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

// Menu La note enchantee page html
 .la-note-enchantee {
     height: 1460px;
 }

@media (min-width:365px) {

    .main__menu {
        min-height: 1311px;
    }
     .la-note-enchantee {
        height: 1385px;
     }
}

@media (min-width: 1440px) {

    .main__menu {
        height: 1624px;
    }
    
    .main__img__menu {
        height: 572px;
     }

    .la-note-enchantee {
         height: 1715px;
    }
}