* {
    padding: 0;
    margin: 0;
    list-style: none;
    // border: 1px solid red;
    text-decoration: none;
    font-family: Roboto; 
    color: black;
}

.body_restaurants {
    background: $main-background;
    min-width: 200px;
}
