// header_restaurants
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 63px;
    background: $second-background;
    @include shadows-header;
    .header__title {
        text-align: center;
        font-size: 30px;
        font-family: Shrikhand;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
.header__link {
    position: absolute;
     left: 15px;
     font-family: Shrikhand;
     font-size: 30px;
     font-weight: 400;
}

@media (min-width: 1440px) {
.header {
 height: 95px;
}
}