// main
.main-restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $main-background;
    padding-bottom: 50px;
    .main__title {
        text-align: center;
        width: 90%;
        height: 68px;
        margin: 30px 0 25px 0;
        max-width: 650px;
    }
    
    .main__p {
        text-align: center;
        width: 90%;
        height: 46px;
        max-width: 650px;
        font-family: Roboto;
    }
    
    .button__link {
        margin: 30px 0 30px 0;
        .button__restaurants {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 218px;
            height:50px;
            @include border-radius-btn;
            @include shadows-btn;
            background: $btn-heart-background;
            color: $main-background;
        }
        .button__restaurants:hover {
            opacity: 0.80;
        }
    }
}

@media (min-width: 770px) {

    // main
    .main__title {
        margin: 30px 0 5px 0;
    }

    .button__link {
        margin: 10px 0 30px 0; 
    }
}

@media (min-width: 1024px) {
    .main-restaurants .main__p {
        font-size: 18px;
        font-weight: 300;
    }

    .main-restaurants .main__title {
        font-family: Roboto;
        font-size: 40px;
        font-weight: 700;
    }
    
}
