* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid red;
  text-decoration: none;
  font-family: Roboto;
  color: black;
}

.body_restaurants {
  background: #F6F6F6;
  min-width: 200px;
}

.header__restaurants {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 63px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.header__title {
  text-align: center;
  font-size: 30px;
  font-family: Shrikhand;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  padding-bottom: 80px;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EAEAEA;
  width: 100%;
  height: 50px;
}

.main__title {
  text-align: center;
  width: 291px;
  height: 68px;
  margin: 35px 0 35px 0;
}

.main__p {
  text-align: center;
  width: 315px;
  height: 46px;
}

.button__link {
  margin: 30px 0 30px 0;
}

.button__restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  color: #F6F6F6;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 440px;
  gap: 20px;
}

.fonctionnement__title {
  text-align: start;
  width: 90%;
  margin: 20px;
}

.fonctionnement__card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  align-items: center;
  width: 322px;
  height: 72px;
  margin: 20px;
  gap: 20px;
  background: #FFFFFF;
  border-radius: 20px;
}

.ellipse {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 5px;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background: #9356DC;
  color: #FFFFFF;
}

.fonctionnement__p {
  width: 211px;
  height: 15px;
  text-align: center;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.restaurants__card {
  width: 340px;
  height: 250px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.restaurants__img {
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 70%;
}

.restaurants__logo__title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.restaurants-box-title {
  width: 80%;
  margin: 5px;
}

.restaurants__title {
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.restaurants__p {
  font-size: 17px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.footer-restaurants-background {
  height: 186px;
  padding: 25px;
  background: #353535;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.footer__title {
  color: #F6F6F6;
  font-size: 18px;
  font-family: "Shrikhand";
  font-weight: 400;
  line-height: normal;
}

.box-link-footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100px;
}

.box-link__logo__footer {
  display: flex;
  align-items: center;
  height: 20px;
  gap: 13px;
}

.footer__logo {
  width: 11px;
  object-fit: cover;
}

.footer__p {
  height: 20px;
  color: #F6F6F6;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.font__footer__p {
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
