
// hearder
.header__title__menu {
    font-family: Shrikhand;
    font-size: 30px;
    font-weight: 400;
}

.header__menu {
    display: flex;
    height: 60px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.header__menu__link {
    position: absolute;
    left: 15px;
    font-family: Shrikhand;
    font-size: 30px;
    font-weight: 400;
}


// main 

.main__menu {
    display: flex;
    justify-content: center;
    background: $second-background;
    min-height: 1392px;

}

.main__img__menu {
    width: 100%;
    height: 275px;
    object-fit: cover;
}





.section__menu {
    box-sizing: border-box;
    max-width: 1055px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: absolute;
    top: 32%;
    border-radius: 40px 40px 0px 0px;
    background: $main-background;
    padding: 40px 15px;
}

.gap__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.div__menu__logo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 35px;
    width: 100%;
    max-width: 650px;
}

.checkbox__class__menu {
    background-repeat: no-repeat;
    background-image: url('/assets/images/logo/Like.svg');
    width: 22px;
    height: 22px;
    cursor: pointer;
}

#checkbox__menu:checked ~ .checkbox__class__menu {
    background-image: url('/assets/images/logo/Coeur.png');
    background-repeat: no-repeat;
  }

.title__menu {
font-family: Shrikhand;
font-size: 28px;
font-weight: 400;
}


.menu__title__all {
    width: 100%;
    max-width: 650px;
    text-transform: uppercase;
}

.title__section__card {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    border-bottom: 2px solid $badge-green;
    width: 40px;
    height: 30px;
}

.card__menu {
    overflow: hidden;
    position: relative;
    max-width: 650px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 69px;
    border-radius: 15.043px;
    background: $second-background;
    box-shadow: 0px 4.011494159698486px
    15.043103218078613px 0px rgba(0, 0, 0, 0.10);   
}
    .card__text {
        width: 100%;
        padding-left: 15px;
        
    }

    .title__card__menu {
        font-size: 18px;
        font-weight: 500;
    }

    .paragraphe__card__menu {
        font-size: 15px;
        overflow: hidden;
        text-overflow : ellipsis;
        white-space: nowrap
    }


.card__dollar {
    padding-right: 15px;
    font-weight: 700;
    font-size: 15px;
}

.checkbox__menu__none {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.animation__mobile {
    transition: 1s;
    width: 0;
    transform: translate(0);
    right: -59px;
    bottom: 2px;
  }

  .animation__p__mobile {
    transition: 1s;
  }
  
   


.button__menu__link {
    margin: 30px 0 30px 0;
   
}
.button__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    height:50px;
    @include border-radius-btn;
    @include shadows-btn;
    background: $btn-heart-background;
    color: $main-background;
    opacity: 0;
}

@media (min-width:365px) {
    .main__menu {
        min-height: 1311px;
    }
    .card__menu {
        height: 65px;
    }

    #checkbox__animation:checked ~ .animation__mobile {
        transform: translate(-59px);
        transition: 1s;
      }
  
     #checkbox__animation:checked ~ .animation__p__mobile {
       transform: translate(-59px);
       transition: 1s;
     }

}

 @media (min-width: 1440px) {

    .header__menu {
        height: 95px;
    }
    .main__menu {
        height: 1624px;
    }
    
    .main__img__menu {
        height: 572px;
     }
    
    .section__menu {
         padding: 40px 210px;
         top: 631px;
         

     }

     .div__menu__logo {
        justify-content: center;
     }

    .card__menu:hover {
        .animation__mobile  {
            transition: 1s;
            transform: translate(-60px);
        }
        .animation__p__mobile {
            transition: 1s;
            opacity: 1;
            transform: translate(-59px);
        }
        
        
    }
}