
* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid red;
    text-decoration: none;
    font-family: Roboto; 
    color: black;
}

.body_restaurants {
    background: $main-background;
    min-width: 200px;
}

// header_restaurants

.header__restaurants {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 63px;
    background: $second-background;
    @include shadows-header;
}
.header__title {
    text-align: center;
    font-size: 30px;
    font-family: Shrikhand;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

// main
.main-restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $main-background;
    padding-bottom: 50px;
}

// formulaire

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $grey2;
    width: 100%;
    height: 50px;
    gap: 15px;
}

.location__type {
    outline: none;
    border: none;
    background: $grey2;
}

//main 

.main__title {
    text-align: center;
    width: 90%;
    height: 68px;
    margin: 30px 0 25px 0;
    max-width: 650px;
}

.main__p {
    text-align: center;
    width: 90%;
    height: 46px;
    max-width: 650px;
}

.button__link {
    margin: 30px 0 30px 0;
}

.button__restaurants {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;
    height:50px;
    @include border-radius-btn;
    @include shadows-btn;
    background: $btn-heart-background;
    color: $main-background;
}

// section fonctionnement

.fonctionnement {
    display: flex;
    min-height: 230px;
    width: 100%;
    
    
}

.fonctionnement__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.fonctionnement__title {
    text-align: start;
    width: 100%;
    margin: 0 0 20px 0;
}

.fonctionnement__box__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.fonctionnement__card {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);;
    align-items: center;
    width: 100%;
    height: 72px;
    
    gap: 5px;
    background: $second-background;
    border-radius: 20px;
}


.ellipse {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -14px;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background: $ellipse-backoground;
}

.ellipse__p {
    color: $second-background;
}

.fonctionnement__p {
    width: 190px;
    height: 15px;
    text-align: center;
}


// restaurants card

.restaurants__section {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.restaurants__box__main {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}

.restaurants__title {
    width: 80%;
}

.restaurants__card {
    width: 100%;
    height: 250px;
    background: $second-background;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    margin-top: 20px; 
}


.restaurants__img {
    object-fit: cover;
    border-radius: 15px 15px 0 0 ;
    width: 100%;
    height: 70%;
}

.restaurants__logo__title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.restaurants-box-title {
    width: 80%;
    margin: 5px;
}

.restaurants__title {
    font-size: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.restaurants__p {
    font-size: 17px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}


// footer 

.footer-restaurants-background {
    height: 186px;
    padding: 25px;
    background: $grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.footer__title {
    color: $main-background;
    font-size: 18px;
    font-family:'Shrikhand';
    font-weight: 400;
    line-height: normal;
}

.box-link-footer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100px;
}

.box-link__logo__footer {
    display: flex;
    align-items: center;
    height: 20px;
    gap: 13px;
}

.footer__logo {
    width: 11px;
    object-fit: cover;
    
}

.footer__p {
    height: 20px;
    color: $main-background;
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


}
.font__footer__p {
    font-weight: 400;
}


// media query



@media (min-width: 770px) {

    // main
    .main__title {
        margin: 30px 0 5px 0;
    }

    .button__link {
        margin: 10px 0 30px 0; 
    }
    // fonctionnement

    .fonctionnement__box {
        padding: 0 100px;
    }

    .fonctionnement__box__card {
        flex-direction: row;
    }

    .fonctionnement__p {
        width: 60%;
    }

    // restaurants
    .restaurants__box__main {
        display: flex;
        flex-direction: column;
        padding: 50px 100px 0 100px;
        
    }
    .restaurants__box {
        display: flex;
        gap: 20px;
    }

    //footer

    .footer-restaurants-background {
        padding: 25px 100px;
    }


}
@media (min-width: 1024px) {

    .restaurants__box__main {
        padding:0 180px 0 180px;
    }

    .restaurants__box {
        gap: 100px;
        padding-bottom: 30px;
    }

    // fonctionnement 

    .fonctionnement__box {
        padding: 0 180px;
    }

    // footer 

     .footer-restaurants-background {
         flex-direction: row-reverse;
         justify-content: flex-start;
         align-items: flex-end;
         height: 60px;
 }
     .box-link-footer {
        height: 20px;
         flex-direction: row;
    }

}