$main-background:#F6F6F6;
$second-background:#FFFFFF;

$btn-heart-background:linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);

$badge-green:#99E2D0;

$color-ellipse:#9356DC;

$color-formulaire:#EAEAEA;
$color-footer:#353535;


.font--Shrikhand {
    font-family: Shrikhand;
    color: #101010;
}



