$main-background:#F6F6F6;
$second-background:#FFFFFF;

$btn-heart-background:linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);

$ellipse-backoground:#9356DC;

$badge-green:#99E2D0;

$grey:#353535;
$grey2:#EAEAEA;



