$main-background:#F6F6F6;
$second-background:#FFFFFF;

$btn-heart-background:linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);

$ellipse-backoground:#9356DC;

$badge-green:#99E2D0;

$grey:#353535;


// box-shadows
$shadow-size-restaurants:0px 4px 15px 0px;
$shadow-size-menu:0px 4.011494159698486px 15.043103218078613px 0px;

$shadow-restaurants_card-menu-rgba:rgba(0, 0, 0, 0.10);
$shadow-btn-rgba:rgba(0, 0, 0, 0.25);
$shadow-functionement-rgba:rgba(0, 0, 0, 0.15);